.custom-paginations {
    --bs-pagination-active-bg: var(--primary) !important;
    --bs-pagination-active-border-color: var(--primary) !important;
    --bs-pagination-color: var(--primary-hover) !important;
}