.form-input {
    padding: 10px !important;
}

// focus input
.form-control:focus {
    border-color: var(--primary) !important;
}

.form-control::-webkit-input-placeholder {
    vertical-align: middle !important;
}