.custom-outline {
  --bs-btn-active-bg: var(--primary) !important;
  --bs-btn-border-color: var(--primary) !important;
  --bs-btn-active-border-color: var(--primary) !important;
  --bs-btn-color: var(--primary) !important;
}
