.sidebar {
  --spacing: 1.5rem;
  --spacing-1: 1rem;
  --sidebar-open: 270px;

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sidebar);
  padding: var(--spacing-1) 0;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  background-color: var(--off-white);
  z-index: 10;

  .sidebar-header {
    padding: 0 var(--spacing-1);
    width: var(--sidebar-open);
    box-sizing: border-box;
    .title {
      height: 80px;
      display: flex;
      // align-items: center;

      .logo {
        --size: 40px;
        width: var(--size);
        height: var(--size);

        color: var(--light);
        background-color: var(--purple);
        border-radius: 50px;
        padding: 5px;
        margin-right: 32px;

        svg {
          vertical-align: top;
        }
      }

      h2 {
        font-weight: var(--title-weight);
        font-size: var(--title);
        color: var(--title-color);
        margin: 4px 0 0;
      }
    }
  }
  &-menu {
    position: relative;
    width: var(--sidebar-open);
    padding: 0 var(--spacing);
    box-sizing: border-box;
    a {
      text-decoration: none;
      .sidebar-item {
        padding: var(--spacing-1) 0;
        color: var(--dark);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: color 300ms ease-in-out;
        .sidebar-icon {
          padding-right: 25px;
          display: flex;
          svg {
            width: var(--spacing);
          }
        }
        .sidebar-title {
          font-size: 16px;
        }
        &.active {
          color: var(--light);
        }
      }
    }

    .menu-indicator {
      position: absolute;
      top: 0;
      left: var(--spacing-1);
      border-radius: 26px;
      z-index: -1;
      transition: 300ms ease-in-out;
      background-color: var(--primary);
      width: 42px;
    }
  }
  &.open {
    .menu-indicator {
      width: calc(100% - 40px);
      border-radius: 20px;
    }
  }
  .toggle-btn {
    display: none;
    padding: 5px;
    background: var(--light);
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba($color: #000000, $alpha: 0.04);
    position: absolute;
    left: 106%;
    &:hover {
      background: var(--primary);
      color: var(--light);
    }
    svg {
      width: 25px;
    }
  }
  @media screen and (max-width: 992px) {
    overflow: visible;
    .toggle-btn {
      display: block;
    }
    left: -100%;
    background-color: var(--light);
    width: var(--sidebar-open);
    &.open {
      left: 0;
    }
  }
}
