:root {
  --primary: #030359;
  --blue: #1863d3;
  --purple: #4d17bd;
  --lavender: #e9eaff;
  --isabelline: #f5ebef;
  --magnolia: #f9ecff;
  --light-blue: #1f77cf;
  --blue-green: #1e95af;
  --light: #fff;
  --off-white: #f4f7ff;
  --dark: #000;

  /* WIDTHS */
  --sidebar: 270px;

  /* SITE TITLE */
  --title: 26px;
  --title-color: var(--primary);
  --title-weight: 900;
}
body {
  background-color: var(--off-white) !important;
}
@media screen and (max-width: 992px) {
  :root {
    --sidebar: 70px;
  }
}
