:root {
  --primary: #030359;
  --blue: #1863d3;
  --purple: #4d17bd;
  --lavender: #e9eaff;
  --isabelline: #f5ebef;
  --magnolia: #f9ecff;
  --light-blue: #1f77cf;
  --blue-green: #1e95af;
  --light: #fff;
  --off-white: #f4f7ff;
  --dark: #000;

  /* WIDTHS */
  --sidebar: 270px;

  /* SITE TITLE */
  --title: 26px;
  --title-color: var(--primary);
  --title-weight: 900;

  /* border radius */
  --border-radius-1: 0.3rem;
  --border-radius-2: 12px;
  --border-radius-3: 20px;

  /* transitions */
  --transition: all 0.2s;
}

body {
  background-color: var(--off-white) !important;
}

/* borders */
.red {
  border: 1px solid red;
}

.black {
  border: 1px solid blue;
}

/* custom links setting */
.primary-link {
  color: var(--primary);
  transition: var(--transition);
}

.primary-link:hover {
  color: var(--purple);
}

/* font sizes */
.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  :root {
    --sidebar: 70px;
  }
}